{% import 'macros/base.j2' as macros -%}{% import 'macros/site.j2' as site -%}

## OpenAI Agents -> ISPL
<hr style="width:100%;border-bottom:2px solid black;">

{{site.embed_demo(
    'tests/itests/openai_agents.py', github=github, type='python')}}
