{% import 'macros/base.j2' as macros -%}{% import 'macros/site.j2' as site -%}

## Specification Algebra
<hr style="width:100%;border-bottom:2px solid black;">

Specifications and partial specifications that are used in `py-mcmas` support a kind of algebra with various operators.  

Many operators are focused on *quick and easy* construction/combination of the main specification objects:

* {{site.api_link('mcmas.ISPL', mkdocs=mkdocs)}} 
* {{site.api_link('mcmas.Agent', mkdocs=mkdocs)}} 
* {{site.api_link('mcmas.Environment', mkdocs=mkdocs)}}*).  
 
 Other operators are more ambitious, and trying to lay the groundwork for *evolving* new specifications from existing ones.  
 
 Some quick links:
 
1. Ellipsis Notation: `ISPL(...)`
1. Constructor Notation: `..`
1. Shuffle Notation:  `..`
1. Completion Notation:  `..`
1. Ordering Notation:  `..`
1. Boolean Algebra:  `..`
1. Concatenation Algebra:  `..`

### Ellipsis Notation 
<hr style="width:100%;border-bottom:2px solid black;">
<a name=ellipsis></a>

Since partial specifications are supported, one of the most common use-cases is to combine these fragments to get a ready-to-run specification that can actually be simulated.

Ellipsis notation helps here.  It can be used to get a *minimum viable object*.

```python {.language-python}
spec = ISPL(...)
agent = Agent(...)
environment = Environment(...)
```

Agents and Environments need only *validate*, but the minimum-viable ISPL specification should be able to *validate and execute*. From the command line:

```bash {.cli_example}
# Returns raw ISPL source code
$ ispl --python --command 'ISPL(...)'
```
```bash {.cli_output .smaller .language-haskell}
-- Minimal valid ISPL specification
Agent Environment
  Vars:
    ticking: boolean;
  end Vars
  Actions = { tick };
  Protocol:
    Other: {tick};
  end Protocol
  Evolution:
  end Evolution
end Agent
..
```

To confirm this runs, just pass the sim argument:

```bash {.cli_example}
# Run the spec
$ ispl --python --command 'ISPL(...)' --sim
```

{#
#### Extended Ellipsis Notation 
<hr style="width:100%;border-bottom:1px dashed black;">
<a name=extended-ellipsis></a>
#}

------------------------

You can use **extended ellipsis notation** to add overrides *on top of* the minimal object.  For example, to obtain a minimum-viable agent with custom actions:

```python {.language-python}
agent = Agent(...)(name='card-player', actions=['hold-em', 'fold-em'])
```

As seen in the [pythonic-ISPL demo]({{mkdocs.site_relative_url}}/demos/pythonic#minimal) you can compose specs in one shot this way, or compose them incrementally as seen [here](#addition).


### Constructor Notation
<hr style="width:100%;border-bottom:2px solid black;">
<a name=constructor></a>
<a name=square-brackets></a>

Constructor notation uses square brackets and *looks* like item-retrieval but has different semantics:

```python {.language-python}
agent = Agent[obj]
```

Above, `obj` can be things like: *an LLM prompt, a python function, or a pydantic agent,* and you'll get back at least a partial ISPL agent specification.  See the test-cases below for some concrete examples.  This works with Specifications and Environments in theory, but if your [AI backend]({{mkdocs.site_relative_url}}/config#ai) is using small local LLM models, in practice it's probably most useful with Agents.  For concrete examples, check out the test-cases below.

{{site.embed_demo('tests/itests/agent_constructor.py', github=github, type='python')}}

{#
In theory and with a powerful [LLM backend configuration](#) you can prompt your way to a working *complete* ISPL specification for your domain model, but most likely you'll want to stick to constructing Agents and Environments, and building specifications additively.  See the next section.
#}

### Shuffle Notation 
<hr style="width:100%;border-bottom:2px solid black;">
<a name=mutation></a>

The **mutation operator** returns a "mutationd" version of a given object.  A mutation has the same type as the object you started with, and is based on the original object, but the result has been mutated using a simple prompt.[^1]  The mutation operator looks like using exponentiation, and the argument used as the exponent is passed through to pydantic-ai as `top_p` and used to control nucleas sampling[^2].

{{site.embed_demo('tests/itests/mutation-notation.py', github=github, type='python')}}

Shuffling is really just a proof of concept, and the prompt is very naive.  But the idea is to pave the way for stuff like using genetic-programming, with LLMs as evolutionary operators.  See the [reference zoo]({{mkdocs.site_relative_url}}/ref) for related papers / inspiration.

### Completion Notation 
<hr style="width:100%;border-bottom:2px solid black;">
<a name=completion></a>

{{site.embed_demo('tests/itests/completion.py', github=github, type='python')}}

### Ordering, Ranking, Sorts
<hr style="width:100%;border-bottom:2px solid black;">
<a name=sorting></a><a name=ordering></a>

The related concepts of length, absolute value, and ordering are defined for specification and agent objects.

Like can be compared with like, but e.g. Specifications cannot be compared to Agents.

{{site.embed_demo('tests/units/ordering.py', github=github, type='python')}}


**For Specification objects:** absolute value, less-than, and greater-than work based on a [heuristic approach](#) for determining [formulae](#) complexity.  The complexity of a specification is just the sum of the individual formulae complexity.

**For Agents:** length, less-than, and greater-than is based on the description length.  Note that this is very different from say, state-space complexity!  For example, a bounded-integer from `0..<maxint>` could have huge implications for the exhaustive search of state-space, but still only has a score of 1 for the description length.

### Addition, Subtraction, Equality, etc
<hr style="width:100%;border-bottom:2px solid black;">
<a name=addition></a><a name=equality></a>

{{site.embed_demo('tests/units/addition.py', github=github, type='python')}}

{{site.embed_demo('tests/units/spec-algebra.py', github=github, type='python')}}

### Other Usage Hints
<hr style="width:100%;border-bottom:2px solid black;">

Check out the test-suite for more usage hints:

### References
<hr style="width:100%;border-bottom:3px solid black;">

[^1]: {{macros.repo_link('src/mcmas/templates/prompts', github=github)}}
[^2]: A concept similar to temperature.  See [pydantic_ai.settings.ModelSettings.top_p](https://ai.pydantic.dev/api/settings/#pydantic_ai.settings.ModelSettings.top_p)

<script>
document.addEventListener('DOMContentLoaded', function() {setTimeout(function() {
	addImageToHeader('References','../img/list-details.svg')
}, 100);});
</script>