site
__pycache__
.eggs
.coverage
.flux.*
scratch
*.egg-info
.tmp.*
compose.mk
docs/*.md
src/mcmas/_version.py
.mypy_cache/
.eggs/
.pytest_cache
dist
.tox
docs/schema/*.md
.vscode
.cmk/local.mk
docs/admonition/*.md
.grit
docs/CITATION.bib
docs/logic/opref.md
build/
docs/api/search.js
docs/api/mcmas
docs/api/index.html
docs/api/mcmas.html
docs/includes/*
docs/demos/*.md
