-- {{model.title | default('model.title')}}

{# -- BEGIN ENVIRONMENT #}
{%if model.environment|default(false)%}
{%include "Environment.j2" %}
{%endif-%}
{#--  END ENVIRONMENT #} 
{#--  BEGIN AGENTS #} 
{%if model.agents | default({})%}
{%- for name,agent in model.agents.items() %}
-- agent {{loop.index}}
{%include "Agent.j2" %}
{% endfor %}
{%endif%}
{#-- END AGENTS #} 
{#-- BEGIN Evaluation #} 
{%if model.evaluation|default(false)%}
Evaluation
  {%- for l in model.evaluation %}
  {{l}}{{';' if not l.endswith(';') else ''}}
  {%- endfor %}
end Evaluation
{%endif-%}
{#-- END Evaluation #}
{#-- BEGIN InitStates #} 
{%if model.init_states|default(false)%}
InitStates
  {%- for l in model.init_states %}
  {{l}}{{';' if not l.endswith(';') else ''}}
  {%- endfor %}
end InitStates
{%endif-%}
{#-- END InitStates #}
{#-- BEGIN Groups #} 
{%if model.groups|default(false)%}
Groups
  {%- for k,l in model.groups.items() %}
  {{k}} = { {{', '.join(l)}} };
  {%- endfor %}
end Groups
{%endif-%}
{#-- END Groups #} 
{#-- BEGIN Formulae #} 
{%if model.formulae|default(false)%}
Formulae
  {%- for l in model.formulae %}
  {{l}}{{';' if not l.endswith(';') else ''}}
  {%- endfor %}
end Formulae
{%endif-%}
{#-- END Formulae #}
