{# #}
The last section raises the possibility of completion, but in the spirit of [less magic](#road-map) an approach involving annotations, inspection, and reflection is another possibility.  Think of it like gradual-typing: as your practical efforts towards building multi-agent systems evolve, you tag, categorize, and annotate the tools themselves as the expectations around them become more clear. More details in [this demo]({{mkdocs.site_relative_url}}/demos/)
