On the other hand, if you're already deep into practical agentic-AI with a framework like PydanticAI, OpenAI, or CamelAI SDKs... this suggests something else you might want to "autocomplete".   In other words: Can we work as usual in our agent-framework and get a concrete multi-agent-system specification for free? For each of these 3 frameworks, converting your existing agents to a system-level description in ISPL is at least *partially* automated.  

Autocompleting back-and-forth *to* specifications *from* their implementations in programming-languages and agent-frameworks is experimental, and your milage will vary based on how smart your backend LLM is.  But `py-mcmas` works locally, aims for deterministic results, and tries to be clever about context and prompting.  More details in [this demo]({{mkdocs.site_relative_url}}/demos/).  

