
There's not a ton of ISPL to train on, so LLMs aren't great at generating it.  There's a chicken and egg aspect, because if you could generate **synthetic data** easily, you'd have more to train on.  Here's the idea:

1. Build ISPL expressions in python
1. Use any method to generate, recombine, and permute  those trees programmatically  
1. Generate ISPL source from trees, then train on new source

Actually **avoiding raw ISPL source as the preferred representation** is another option.  This could fare better with LLMs in general, without any need for fine-tuning.  In this version, you use pydantic-ai and / or JSON-schema to constrain LLM output, then run completion directly on ISPL *object fragments*, converting to ISPL-source only to validate or simulate them.

