For lots of work, what we really want is **user-prompted domain modeling** that's flexible and frictionless, but is also *constrained or grounded* in useful ways.  LLMs nail the flexible and frictionless part, but don't typically create or evolve any kind of explicit domain model. For many use-cases, "creativity" is an ambiguous virtue!  

If you're not targeting "code" as an output, then there's a good chance you're looking for something like *answers, or evidence, or arguments*, and preferably something you can check.  Even if you think you can tolerate some hallucinated output as a *leaf*, what if we're in the middle of a problem-solving process? Probably you would prefer an artifact like a witness, counter-example, or trace, and a problem-specification that you can actually evolve and iterate on.

An LLM that's structured so as to **only output valid structures for things like constraint-problems, simulations, and games** might seem more useful for planning or general problem solving than it is for code.  But since model-checkers easily accomodate things like *namespaces, basic data-types, states, and transitions*, they also serve as a reasonable abstraction for code too.  Vibe-coding, viewed as a guided search through *implementation space*, is missing something.  Stepping through *specification-space* as an intermediate step basically *partitions implementation-space* by throwing away lots of useless candidates.
