{% import 'macros/base.j2' as macros -%}{% import 'macros/site.j2' as site -%}

## Knowledge vs Belief
<hr style="width:100%;border-bottom:3px solid black;">

The difference between knowledge and belief is that while beliefs could be false, knowledge *must* be true.  That intuition is the difference between epistemic vs doxastic[^1] logics too.

From [the operator reference]({{mkdocs.site_relative_url}}/opref/#dynamic-epistemic-logic), you might have noticed epistemic logic as presented does *not* talk about belief though, and belief has no corresponding primitive in ISPL.  This raises the question.. does MCMAS/ISPL handle belief or not?  

The answer is.. *sort of*.  It depends on the semantics you want to capture, but roughly speaking it turns out that the operators

* *`B(agent,predicate)` → Agent believes predicate*
* *`K(agent,predicate)` → Agent knows predicate*

have most of the same properties in terms of entailment and extensionality.  (You can read more about this than you probably want to know in this footnote! [^3])  The biggest difference is just an *extra truth axiom*, i.e. basically the same as the intution we started with.  *If an agent knows something, it must be true by definition* i.e. *`K(agent,predicate) → predicate `*.

This suggests that by changing our perspective on semantics, and by adding some extra assertions, ISPL can indeed support `B(..)` and `K(..)`, even though it has no syntactic support for `B(..)`.

## Belief in ISPL
<hr style="width:100%;border-bottom:3px solid black;">

We'll get into more discussion afterwards, but here's a quick sketch of what it might look like tracking knowledge and belief side by side in ISPL.

{{site.embed_demo('tests/data/doxastic.ispl', github=github, class='small', type='lua')}}

## Discussion
<hr style="width:100%;border-bottom:3px solid black;">

{#
### The Problem
The trouble with the last section is that it describes how to express knowledge *or* belief.  If you actually want to track *both*, then you need to track a lot of extra state.  
#}

### Discussion
<hr style="width:100%;border-bottom:3px solid black;">

Tracking knowledge and belief separately as "first class" seems useful for lots of reasons, and the last section shows that it's a bit awkward and limited.

### References
<hr style="width:100%;border-bottom:3px solid black;">

[^1]: [wiki://Dynamic_epistemic_logic#Knowledge_versus_Belief](https://en.wikipedia.org/wiki/Dynamic_epistemic_logic#Knowledge_versus_Belief)
[^2]: [wiki://Doxastic/Types-of-Reasoners](https://en.wikipedia.org/wiki/Doxastic_logic#Types_of_reasoners)
[^3]: [Principles of Knowledge and Belief](https://plato.stanford.edu/entries/logic-epistemic/#PrinKnowBeli)

<script>
document.addEventListener('DOMContentLoaded', function() {setTimeout(function() {
    addImageToHeader('references','../img/list-details')
}, 100);});
</script>