{% import 'macros/base.j2' as macros -%}{% import 'macros/site.j2' as site -%}
{% include "badges.md.j2" %} 

See the main documentation: [https://mattvonrocketstein.github.io/py-mcmas/](https://mattvonrocketstein.github.io/py-mcmas/)
